@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
   Author: Petar Kaselj <br>
   Created: 1.9.2020.   <br>
                        <br>
    <a href="https://www.linkedin.com/in/petar-kaselj-0769a119a/"
       class="btn btn-success">LinkedIn Profile</a>
</p>
