@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<div class="container mt-5">
    <div class="media border border-secondary">
        <img src="./res/0.jfif" alt="PK" class="rounded-circle mx-3 mt-2" style="width:50px;" />
        <div class="media-body">
            <h5>Petar Kaselj <small>Created on September 3, 2020</small></h5>
            <p>
                <a href="https://www.linkedin.com/in/petar-kaselj-0769a119a/" class="btn-sm btn-success">LinkedIn</a>
            </p>
        </div>
    </div>
</div>


